# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Environments
# .env
.venv
env/
venv/
env.bak/
venv.bak/

# Git ignore file and repo folder
.gitignore
.git/

# Docker ignore and build files
.dockerignore
Dockerfile

# Kubernetes configuration yaml
kc-*.yml

# Pycharm ide settings
.idea/

# Vscode ide settings
.devcontainer/
.vscode/
