# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
env.bak/
venv.bak/

# Git repo and ignore file
.gitignore
.git/

# Kubernetes hosting configuration yaml
kc-*.yaml

# Pycharm ide settings
.idea/

# Vscode ide settings
.devcontainer/
.vscode/
